{% extends 'ecomm/base2.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Item {% endblock %}
{% block content %}

<div class="addItem_container mt-5  pt-3">
  <div class="row">
    <div class="col-md-12">
        <div class="w3-card mt-5 mb-5">
          <h1>Add Item</h1>
          <form method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{ form| crispy }}
            <hr>
            <button class="btn block" type="submit" name="button">Add</button>
          </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}
