{% extends 'ecomm/base2.html' %}
{% block title %}Staff | Items{% endblock %}
{% block content %}

<div class="outer-container">
<div class="container">
  <div class="row">
    <div class="contents">
      <div class="col-md-12">
        <div class="heading">
          <h3>ALL ITEMS</h3>
        </div>
        {% if items %}
          <form class="form-inline mt-5 ml-2 block" method="GET">
            <div class="searchBar">
              <input type="text" name = "q" placeholder="Search Item">
              <button type="submit" class="btn btn-primary btnColor mb-2">Search</button>
            </div>
        </form>
        <table class="table table-sm table-bordered table-hover">
            <tr>
                <!-- <thead class="thead-dark"> -->
                <thead>
                  <th>#</th>
                  <th>Item Title</th>
                  <th>Price</th>
                  <th>Discount Price</th>
                  <th>Category</th>
                  <th>Label</th>
                  <th>Tag</th>
                  <th>Action</th>
                </thead>
            </tr>
            <tbody>
                {% for item in items %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.price}}</td>
                  {% if item.discount_price %}
                  <td>{{item.discount_price}}</td>
                  {% else %}
                  <td>0</td>
                  {% endif %}
                  <td>{{item.category.name}}</td>
                  <td>{{item.get_label_display}}</td>
                  <td>{{item.get_tag_display}}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url 'ecomm_app:update_item' item.slug %}"><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
                      <a href="#"><button type="button" class="btn btn-info"><i class="fa fa-eye"></i></button></a>
                      <a href="{% url 'ecomm_app:delete_item' item.slug %}" onclick="return confirm('Seriously Delete this Item!?');"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <h1>Ooopps!! No Items to load!</h1>
              {% endif %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
