{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %} logout {% endblock %}
{% block content %}
      <div class="user_container">
        <div class="row">
          <div class="user-column col-md-8 offset-2">
              <div class="content">
                <div class="logout w3-card mb-5 pt-5 pb-5 ml-5 pl-5 mt-5">
                  <h2>You have been Logged Out!</h2>
                  <hr>
                  <h6 class="text-muted">Click the link below to</h6>
                  <a href="{% url 'login' %}" class="post-author">Sign in again</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
