{% extends 'ecomm/base.html' %}
{% load crispy_forms_tags %}
{% block title %} user profile {% endblock %}
{% block content %}
        <div class="s-card w3-card">
          <div class="elements">
            {% if user.username == 'jonas' %}
                    <img class="rounded-circle" width="100%" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                    <h1>{{ user.username|title }}</h1>
                    <h3>{{ user.email }}</h3>
                    <p class="title">CEO & Founder</p>
                    <p><b>IFM</b></p>
                    <div class="social">
                            <a href="#"><i class="fal fa-google"></i></a>
                            <a href="#"><i class="fal fa-twitter"></i></a>
                            <a href="#"><i class="fal fa-linkedin"></i></a>
                            <a href="#"><i class="fal fa-facebook"></i></a>
                    </div>
            {% else %}
            <div>
                    <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                    <h1>{{ user.username|title }}</h1>
                    <h3">{{ user.email }}</h3>
                    <div class="social">
                            <a href="#"><i class="fas fa-lg fa-google"></i></a>
                            <a href="#"><i class="fas fa-lg fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-lg fa-linkedin"></i></a>
                            <a href="#"><i class="fas fa-lg fa-facebook"></i></a>
                    </div>

            </div>
            {% endif %}
          </div>
          <div>
            <a class="btn btn-primary btn-block" href="{% url 'update' %}"><i class="fa fa-edit mr-3"></i> <strong>Update</strong></a>
          </div>
        </div>
{% endblock content %}
