{% extends 'ecomm/staff/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="dash_container">
  <div class="row">
    <div class="col-12">
      <div class="counters  row">
        <div class="customer-counter ">
          <div class="counter-text">
          <h1 class="count">{{ count_pending }}</h1>
            <h2 class="customer-head">Pending Orders</h2>
          </div>
        </div>
        <div class="order-counter ">
          <div class="counter-text">
            <h1 class="count">{{ count_delivered }}</h1>
            <h2 class="count-head">Delivered Orders</h2>
          </div>
        </div>
        <div class="delivered-counter">
          <div class="counter-text">
            <h1 class="count">{{ count }}</h1>
            <h2 class="delivered-head">Total Orders</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
