{% extends 'ecomm/staff/base.html' %}
{% block title %}Staff | Categories{% endblock %}
{% block content %}

<div class="outer-container">
<div class="container">
  <div class="row">
    <div class="contents">
      <div class="col-md-12">
        <div class="heading">
          <h3>ALL CATEGORIES</h3>
        </div>
        {% if categories %}
          <form class="form-inline mt-5 ml-2 block" method="GET">
            <input type="text" name = "q" placeholder="Search Category">
            <div class="searchBar">
              <button type="submit" class="btn btn-primary btnColor mb-2">Search</button>
            </div>
        </form>
        <table class="table table-sm table-bordered table-hover">
            <tr>
                <!-- <thead class="thead-dark"> -->
                <thead>
                  <th>#</th>
                  <th>Category Name</th>
                  <th>Action</th>
                </thead>
            </tr>
            <tbody>
                {% for category in categories %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{category.name}}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url 'ecomm_app:update_category' category.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
                      <a href="#"><button type="button" class="btn btn-info"><i class="fa fa-eye"></i></button></a>
                      <a href="{% url 'ecomm_app:delete_category' category.id %}" onclick="return confirm('Seriously Delete this Category!?');"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <h1>Ooopps!! No Categories to load!</h1>
              {% endif %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
