{% extends 'ecomm/staff/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Staff | Update Item {% endblock %}
{% block content %}

<div class="add_container mt-5  pt-3">
  <div class="row">
    <div class="col-md-12 column">
        <div class="w3-card item-card mt-5 mb-5">
          <h1>Update Item</h1>
          <form method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{ form| crispy }}
            <hr>
            <button class="btn btn-block" type="submit" name="button">Save</button>
          </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}
